*.lst
*.class
/ProyectoCompiladorLoteria/LogicaJuego/target/
/ProyectoCompiladorLoteria/CapaDeRed/target/
/ProyectoCompiladorLoteria/Servidor/target/
/ProyectoCompiladorLoteria/Utilerias/target/
/ProyectoCompiladorLoteria/Eventos/target/
/ProyectoCompiladorLoteria/ComunicacionEventos/target/
/ProyectoCompiladorLoteria/ProcesadorEventos/target/
