*.lst
*.class
/ProyectoCompiladorLoteria/LogicaJuego/target/
/ProyectoCompiladorLoteria/CapaDeRed/target/
/ProyectoCompiladorLoteria/Servidor/target/
/ProyectoCompiladorLoteria/Utilerias/target/
/ProyectoCompiladorLoteria/Eventos/target/
/ProyectoCompiladorLoteria/ComunicacionEventos/target/
/ProyectoCompiladorLoteria/ProcesadorEventos/target/
/ProyectoCompiladorLoteria/MVC_InicioJuego/target/
/ProyectoCompiladorLoteria/Arrancador/target/
/ProyectoCompiladorLoteria/IEventClient/target/
/ProyectoCompiladorLoteria/IRed/target/
/ProyectoCompiladorLoteria/ArrancadorBroker/target/
*.jar
